<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.testone">

    <application>
        <activity android:name=".Test6DrawActivity" />

        　
        <activity android:name=".Test7DrawActivity" />
        <activity android:name=".Test8DrawActivity"></activity>
    </application>

</manifest>